<%= form_for(@enade) do |f| %>
  <% if @enade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enade.errors.count, "error") %> prohibited this enade from being saved:</h2>

      <ul>
      <% @enade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
