<%= form_for(@score_general) do |f| %>
  <% if @score_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_general.errors.count, "error") %> prohibited this score_general from being saved:</h2>

      <ul>
      <% @score_general.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enade_id %><br>
     <%= collection_select(:score_general, :enade_id, @Enades_List, :id, :year)%>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br>
    <%= collection_select(:score_general, :institution_id, @Institutions_List, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
